@forward 'variables/typography.scss';
@forward 'variables/colors.scss';
@use 'variables/typography.scss' as *;
@use 'variables/colors.scss' as *;




$spacer: 15px;
$nav-border: 2px solid $sand;

$full-padded-container: 1280px;
$big-container: 1050px;
$collapse-bp: 768px;
$nav-bp: 1288px;
$mobile-bp: 960px;
$narrow-container: 960px;


$transition: .5s ease-in all;


// intended for wrapper, if exists. else, parent
@mixin mobileOverlap($imgHeight, $centerWidth: 75%) {
    $overlap: 100px;
    display: grid !important;
    grid-template-columns: 1fr $centerWidth 1fr;
    @media (max-width: $collapse-bp) {
        grid-template-columns: $spacer*2 1fr $spacer*2;
    }
    grid-template-rows: 400px 100px auto;
    grid-template-rows: $imgHeight - $overlap $overlap auto;
    
    .card-thumbnail + .card-copy,
    .post-thumbnail + .copy,
    .thumbnail + .copy {
        grid-row: 2 / 4;
    }
    .card-copy,
    .copy {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        z-index: 5;
        text-align: center !important;
        height: 100% !important;
        background: $sand;
        @media (min-width: $collapse-bp) { 
            padding: $spacer*4;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .copy-wrapper {
        text-align: center !important;
    }
    .card-thumbnail,
    .post-thumbnail,
    .thumbnail {
        grid-row: 1 / 3;
        grid-column: 1 / 4;
        z-index: 4;
        overflow: hidden;
        width: 100%;
        min-height: 100%;
        display: flex;
        a {
            width: 100%;
        }
        img {
            height: 100%;
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            margin: 0;
        }
    }


    // .post-thumbnail {
    //     min-height: 100%;
    //     display: flex;
    // }

}

// meant for figure > img 
@mixin openModal() {
    .close-btn {
        width:40px;
        height:40px;
        background-color:transparent;
        position: relative;
        padding-bottom: $spacer;
        top: $spacer;
        // position: absolute;
        // top: $spacer*2;
        // @media (max-width: $collapse-bp) {
        //     top: $spacer;
        //     right: $spacer;
        // }
        &:hover {
            cursor: pointer;
        }
        &:before,&:after{
            content:'';
            position:absolute;
            width:36px;
            height:4px;
            background-color:$black;
            border-radius:2px;
            top:16px;
        }
        
        &:before{
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            transform:rotate(45deg);
            left:2px;
        }
        &:after{
            -webkit-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            transform:rotate(-45deg);
            right:2px;
        }
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    height: 100vh !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding-top: $spacer*2;
    align-items: center;
    background: white;
    margin: 0;
    margin-top: 0 !important;
    
    img {
        max-height: 80% !important;
        max-height: 80vh !important;
        &:hover {
            cursor: pointer;
        }
    }
}

@mixin cardLayout() {
    display: flex;
    flex-direction: column;
    text-align: center;
    .post-thumbnail,
    .card-thumbnail {
        flex: 0 0 450px;
        overflow: hidden;
        display: block;
        a {
            color: #000;
            display: block;
            height: 100%;
        }
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .card-copy {
        flex: 1 0 30%;
    }
    h3 {
        @include h3Style(#000);
        margin-top: $spacer*2;
        a {
            color: #000;
        }
    }
    h4 {
        @include detailStyle(#000);
        a {
            color: #000;
        }
    }

    h3, h4, p {
        margin-bottom: $spacer;
    }
}


@mixin animateOpacity() {
    -webkit-animation: KEYFRAME-NAME .4s forwards;
    -moz-animation:    KEYFRAME-NAME .4s forwards;
    -o-animation:      KEYFRAME-NAME .4s forwards;
    animation:         KEYFRAME-NAME .4s forwards;

    @-webkit-keyframes KEYFRAME-NAME {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @-moz-keyframes KEYFRAME-NAME {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

    // @-o-keyframes KEYFRAME-NAME {
    //     0%   { opacity: 0; }
    //     100% { opacity: 1; }
    // }
    @keyframes KEYFRAME-NAME {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
}

@mixin animateOpacityReverse() {
    -webkit-animation: KEYFRAME-NAME .4s forwards;
    -moz-animation:    KEYFRAME-NAME .4s forwards;
    -o-animation:      KEYFRAME-NAME .4s forwards;
    animation:         KEYFRAME-NAME .4s forwards;

    @-webkit-keyframes KEYFRAME-NAME {
        0%   { opacity: 1; }
        100% { opacity: 0; }
    }
    @-moz-keyframes KEYFRAME-NAME {
        0%   { opacity: 1; }
        100% { opacity: 0; }
    }

    // @-o-keyframes KEYFRAME-NAME {
    //     0%   { opacity: 0; }
    //     100% { opacity: 1; }
    // }
    @keyframes KEYFRAME-NAME {
        0%   { opacity: 1; }
        100% { opacity: 0; }
    }
}


img {
    // filter: grayscale(0);
    filter: blur(0);
    transition: 0.3s ease filter;
    &:hover {
        // opacity: 50%;
        // filter: grayscale(1);
        filter: blur(10px);
    }
}

@mixin containerVertPadding() {
    padding: 125px 0;
    @media (max-width: $mobile-bp) {
        padding: 50px 0;
    }
}

@mixin arrowHoverPink() {
    .icon-arrow::after {
        background: $pink;
    }
}