@use '../imports.scss' as *;
@use "sass:math";

.main-404 {
    @include containerVertPadding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .submark {
        padding-bottom: 60px;
        border-bottom: 1px solid $black;

        img {
            max-width: 182px;
            filter: grayscale(1) invert(1);

            &:hover {
                filter: grayscale(1) invert(1);
            }
        }
    }

    header {
        padding-top: 60px;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 28px;
        margin: 0;
        margin-bottom: 25px;
        line-height: 30px;
        text-transform: uppercase;
    }

    p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 25px;
    }
}