@use '../imports.scss' as *;


body.home {
    .image-wrapper img {
        border-radius: 15px;
    }
}

section.featured-pages {
    background: $cream;
    padding: 10% 0;
    margin-bottom: 50px;

    .grid-fixed {
        @media (min-width: $mobile-bp) {
            grid-template-rows: 500px;
        }

        >* {
            grid-row: 1 / 2;
        }
    }

    .title-wrapper {
        min-width: 0;
        grid-column: 1 / span 1;

        @media (max-width: $mobile-bp) {
            grid-column: 1 /span 4;
        }

        h2 {
            @include h1Style($black);
        }

        display: flex;
        justify-content: center;
        align-items: center;

        >* {
            text-align: center;
            white-space: nowrap;
            // width: 0;
            transform: rotate(270deg);
        }
    }

    .card-1 {
        grid-column: 3 / span 3;

        @media (max-width: $mobile-bp) {
            grid-column: 6 / span 8;
            margin-bottom: 50px;
        }
    }

    .card-2 {
        grid-column: 7 / span 3;

        @media (max-width: $mobile-bp) {
            grid-column: 1 / span 6;
            grid-row: 2 / 3;
        }
    }

    .card-3 {
        grid-column: 11 / span 3;
        width: 150%;

        @media (max-width: $mobile-bp) {
            grid-column: 7 / span 6;
            width: 100%;
            grid-row: 2 / 3;
        }
    }

    a:hover {
        opacity: 1;
    }

    .image-wrapper {
        border-radius: 15px;
        overflow: hidden;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
    }

    .card {
        display: flex;
        flex-direction: column;

        .image-wrapper {
            border-radius: 15px;
            overflow: hidden;
            flex: 0 0 85%;
        }

        .text-wrapper {
            flex: 0 0 15%;
            margin-top: 30px;

            .title {
                @include pStyle();
            }

            button {
                margin-top: 10px;

                a {
                    color: $black;
                }
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: .8s ease all;
        }
    }

    @media (max-width: $mobile-bp) {
        .card .image-wrapper {
            flex: 50%;
        }
    }
}



section.featured-posts {
    display: flex;

    &+section.featured-posts {
        margin-top: 150px;

        @media (max-width: $mobile-bp) {
            margin-top: 45px;
            padding-top: 70px;
            border-top: 1px solid $nude;
        }
    }

    .grid-fixed {
        >* {
            grid-column: span 12;
        }
    }

    &.be-well,
    &.eat-well {
        .featured-posts-wrapper {
            >*:first-child {
                grid-column: 1 / span 8;
            }

            >*:last-child {
                grid-column: span 4;
            }
        }
    }

    &.live-well {
        .featured-posts-wrapper {
            >* {
                grid-column: span 4;
                grid-row: 1 / 2;
            }
        }
    }

    .section-header {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @media (min-width: $mobile-bp) {
            margin-bottom: 30px;
        }

        @media (max-width: $mobile-bp) {
            // justify-content: flex-start;
            // margin-bottom: 10px;
            flex-direction: column;

            >*:not(:last-child) {
                margin-bottom: 10px;
            }
        }

    }

    .featured-posts-wrapper {
        @media (max-width: $mobile-bp) {
            >.card-wrapper:not(:first-child) {
                display: none !important;
            }

            >.card-wrapper:first-child {
                grid-column: span 12 !important;
            }
        }

        .card-wrapper {
            display: flex;
            flex-direction: column;

            .image-wrapper {
                img {
                    min-width: 100%;
                    max-height: 500px;
                    min-height: 500px;
                    object-fit: cover;
                }
            }

            .text-wrapper {
                padding-top: 15px;
            }
        }

        h3.entry-title {
            position: relative;
            // display: flex;
            // align-items: center;
            margin-bottom: 15px;

            a {
                position: relative;
                // display: flex;
                // align-items: center;
                color: $black;

                .icon-arrow::after {
                    display: inline-block;
                    content: '';
                    width: 15px;
                    height: 15px;
                    margin-left: 15px;
                    // top: 0;
                    // left: 0;
                    // position: absolute;
                    background-color: $black;
                    -webkit-mask-image: url('./assets/icons/arrowRight.svg');
                    mask-image: url('./assets/icons/arrowRight.svg');
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-size: cover;
                    mask-size: cover;
                    // background: url('./assets/icons/arrowRight.svg') center center no-repeat;
                }
            }

            a,
            span.icon-arrow {
                transition: .3s ease all;
            }

            &:hover {
                a {
                    color: $pink;
                }

                span.icon-arrow::after {
                    background: $pink;
                }
            }
        }

        .image-wrapper {
            img {
                object-fit: cover;
            }
        }
    }
}


body.home {
    section.featured-products {
        margin: 130px 0;

        @media (max-width: $mobile-bp) {
            margin: 50px 0;
        }

        padding: 68px 0;
        background: $cream;

        .section-header {
            grid-column: 1 / span 3;
            grid-row: 1 / 2;

            .section-title {
                margin-bottom: 15px;

                >*:not(:last-child) {
                    margin-bottom: 15px;
                }
            }

            @media (max-width: $mobile-bp) {
                grid-column: 1 / span 12;
                grid-row: 1 / 2;
                text-align: center;
            }
        }

        .featured-products-wrapper {
            grid-column: 4 / span 9;
            grid-row: 1 / 2;
            align-items: flex-start;

            @media (max-width: $mobile-bp) {
                grid-column: 1 / span 12;
                grid-row: 2 / 3;
                margin-top: 15px;
            }

            button:hover {
                cursor: pointer;
                @include arrowHoverPink;
            }

        }

        .pagination {
            grid-column: 12 / 13;
            grid-row: 1 / 2;
            // * {
            //     background: black;
            // }
        }
    }
}

section.bio {
    margin-bottom: 130px;

    .grid-fixed {
        grid-template-rows: 1fr min-content min-content;
        grid-row-gap: 0;

        // > * {
        //     grid-row: 1 / 2;
        // }
        .text-wrapper {
            grid-column: 1 / span 4;
            grid-row: 1 / 3;
        }

        .image-wrapper {
            grid-column: 9 / span 4;
            grid-row: 1 / 3;
        }

        .highlight-wrapper {
            grid-column: 8 / span 2;
            grid-row: 2 / 4;
        }
    }

    .text-wrapper {
        >*:not(:last-child) {
            margin-bottom: 30px;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .image-wrapper {
        position: relative;
        z-index: 99;
        border-radius: 30px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .highlight-wrapper {
        position: relative;
        box-sizing: border-box;
        clip-path: circle(50%);
        background: $pink;
        height: 180px;
        width: 180px;
        align-self: end;
        z-index: 100;

        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        .text-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            p {
                margin-top: 10px;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 7px;
            }
        }
    }

    @media (max-width: $mobile-bp) {
        margin-bottom: 50px;

        .grid-fixed {
            display: flex;
            flex-direction: column;

            >* {
                margin-bottom: 30px;
            }

            .text-wrapper {
                text-align: center;

                >* {
                    max-width: 45ch;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
            }

            .image-wrapper {
                width: 50%;
                margin-left: 35%;
            }

            .highlight-wrapper {
                margin-left: -25%;
                align-self: center;
                margin-top: (calc((30% - 30px) * -1));
            }
        }
    }
}




.featured-posts .section-header .section-title,
main.archive-wrapper .page-header {
    display: flex;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    margin-right: 10px;

    span {
        display: inline-flex;
        line-height: 0 !important;

        &:first-child {
            margin-right: 10px;

            @media (max-width: $mobile-bp) {
                margin-right: 5px;
            }
        }
    }

    .serif {
        font-size: 60.5px;
        line-height: 85px;
        letter-spacing: 0.02em;

        @media (max-width: $mobile-bp) {
            font-size: 40px;
            line-height: 40px;
        }
    }

    .sans-serif {
        font-weight: 300;
        font-size: 60px;
        line-height: 85px;
        text-align: right;
        letter-spacing: 0.02em;
        padding-top: 25px; // hack

        @media (max-width: $mobile-bp) {
            font-size: 40px;
            line-height: 40px;
            padding-top: 0;
        }
    }
}