@use 'imports.scss' as *;
@use "sass:math";

main.shop-main {
    padding: 170px 0 125px 0; 
    @media (max-width: $mobile-bp) {
        padding: 100px 0 75px 0; 
    }
}
body.archive {
main.shop-main {
    .grid-fixed {
        @media (max-width: $mobile-bp) {
            grid-row-gap: 10px;
        }
    }
    .grid-fixed > * {
        grid-column: 4 / span 9;
        @media (max-width: $mobile-bp) {
            grid-column: 1 / span 12;
        }
    }  
    .woocommerce-products-header {
        grid-row: 1 / 2;
    }
    .woocommerce-ordering {
        grid-column: 11 / 13;
        @media (max-width: $mobile-bp) {
            grid-column: 1 / span 12;
            text-align: right;
        }
        grid-row: 2 / 3;
    }
    .sidebar,
    ul.products {
        @media (min-width: $mobile-bp) {
            grid-row-start: 3;
        }
    }
    .sidebar {
        grid-column: 1 / span 2;
        padding-right: 50%;
        @media (max-width: $mobile-bp) {
            grid-row: 3 / 4;
            padding: 0;
            display: flex;
            padding-bottom: 10px;
        }
    }
    ul.products {
        grid-row: 4 / 5;
        @media (max-width: $mobile-bp) {
            grid-column: 1 / span 12;
            text-align: right;
        }
    }
    .add_to_cart_button,
    .woocommerce-result-count,
    .woocommerce-breadcrumb {
        display: none;
    }
    ul.products li.product a img {
        border-radius: 10px;
    }
    ul.products {
        .woocommerce-loop-product__title {
            font-size: 18px;
            line-height: 23px;
            margin: 0;
            padding: 2px 0 !important; 
        }
        li.product .price {
            font-size: 13.5px;
            line-height: 16px;
            color: $black;
        }
        @media (max-width: $mobile-bp) {
            text-align: center;
        }
    }
}
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: $black;
}

body.single {
    main.shop-main {
        padding-bottom: 0;
        > *:not(.full-width) {
            > * {
                grid-column: 3 / span 8;
                @media (max-width: $mobile-bp) {
                    grid-column: 1 / span 12;
                }
            }
        }
        .woocommerce-breadcrumb {
            font-size: 13.5px;
            line-height: 16px;
            a {
                color: $black;
            }
            @media (max-width: $mobile-bp) {
                margin-bottom: 30px;
            }
        }
        div.product {
            padding-bottom: 125px;
            > * {
                grid-column: 3 / span 10
            }
            > .woocommerce-product-gallery {
                grid-column: 3 / 7;
                grid-row: 1 / 2;
                width: 100%;
                padding-right: 10%;
                @media (max-width: $mobile-bp) {
                    grid-column: 1 / span 12;
                    grid-row: 1 / 2;
                }
            }
            > .entry-summary {
                grid-column: 7 / span 4;
                grid-row: 1 / 2;
                @media (max-width: $mobile-bp) {
                    grid-column: 1 / span 12;
                    grid-row: 2 / 3;
                }
            }

            .product_title {
                margin-bottom: 10px;
                font-size: 28px;
                line-height: 30px;
            }
            p.price {
                margin-bottom: 50px;
                font-size: 16px;
                line-height: 20px;
            }
            h3.description-title {
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            h3.description-title, p {
                font-family: "Founders Grotesk", sans-serif;
                font-weight: 300;
                font-size: 13.5px;
                line-height: 16px;
            }
            form.cart {
                display: flex;
                > *:last-child {
                    margin-left: 50px;
                }
            }
        }
        .woocommerce-Tabs-panel--description h2,
        ul.tabs {
            display: none;
        }
        
    }
    .sidebar {
        display: none;
    }
    .related-products-wrapper {
        background: $nude;
        padding: 50px 0;
        .related.products {
            > * {
                grid-column: span 3;
                place-self: center;
                @media (max-width: $mobile-bp) {
                    grid-column: span 12;
                    text-align: center;
                }
            }
            > ul.products {
                grid-column: span 9;
                display: flex;
                justify-content: space-between;
                .price,
                .woocommerce-loop-product__title,
                li.product .button {
                    display: none;
                }
                li.product a img {
                    clip-path: circle(50%);
                    margin: 0;
                }
                li.product {
                    margin: 0;
                    padding: 0;
                }
                @media (max-width: $mobile-bp) {
                    grid-column: span 12;
                }
            }
        }
    }
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background: transparent;
    border: 1px solid black;
    border-radius: 30px;
    color: $black;
    padding: 15px;
    font-weight: 300;
    &:hover {
        background-color: transparent;
        color: $pink;
        border-color: $pink;
    }
}

main.shop-main {
    .sidebar {

        p {
            margin: 10px 0;
            font-weight: 300;
            font-size: 13.5px;
            line-height: 16px;
        }
        ul + p {
            margin-top: 30px;
        }
        ul li {
            font-weight: 300;
            font-size: 13.5px;
            line-height: 16px;
            a {
                display: flex;
            }
            a::before {
                content: ' ';
                flex: 0 0 15px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid $pink;
                margin-right: 5px;
            }
            .count {
                display: none;
            }
        }
    }
    a:hover {
        font-style: normal !important;
    }

    .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a::before {
        content: ' ';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid $pink;
        margin-right: 5px;
        background: $pink;
    }
}

// custom select 
/* The container must be positioned relative: */
form.woocommerce-ordering {
    position: relative;
    // font-family: Arial;
    text-align: right;
  }
  
  form.woocommerce-ordering select {
    appearance: none;

    display: none !important; /*hide original SELECT element: */
    text-transform: uppercase;
    padding: 5px;
    color: $black;
    border: 1px solid $black;
    font-size: 14px;
    white-space: nowrap;
    transition: .3s ease all;
    text-align: right;
    // display: inline-block;
    option {
        background: transparent;
    }
    &:hover {
        color: $pink;
        border-color: $pink;
    }
    &:focus {
        outline: 0;
        border: 0;
    }
  }
  
  .select-selected {
    background-color: transparent;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    display: none;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
    display: none;
  }
  
  .select-selected {
      margin-bottom: 10px;
  }
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    // color: #ffffff;
    // padding: 8px 16px;
    // border: 1px solid transparent;
    // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
    background: transparent;
    color: $black;
    border-bottom: 1px solid $black;
    // border-radius: 30px;
    font-size: 14px;
    white-space: nowrap;
    transition: .3s ease all;
    text-align: right;
    display: inline-block;
    &:hover {
        color: $pink;
        border-color: $pink;
    }
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: right;
    div {
        border: 0;
        text-transform: none;
    }
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    color: $pink;
  }


  // plus / minus button
//   .woocommerce .quantity .qty {
//       width: 30px;
//   }
  body.single .quantity {
      background: $nude;
      border-radius: 30px;
      padding: 5px 15px;
      input {
          background: transparent;
          color: $black;
          padding: 0 !important;
      }
      input, button {
          display: flex;
          align-items: center;
          justify-content: center;
      }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
      }
      button {
          border: 0;
          padding: 0;
          &:hover {
              cursor: pointer;
          }
      }
      .plus, .minus {
          &::after {
              background-color: transparent;
            width: 15px;
            height: 15px;
            font-size: 22px;
            line-height: 20px;
          }
      }
      display: flex;
      .plus, .minus, input {
        font-size: 16px;
        line-height: 20px;
      }
      .minus {
          order: 1;
          &::after {
            content: " - ";
          }
      }
      input {
          order: 2;
      }
      .plus {
          order: 3;
          &::after {
            content: " + ";
          }
      }
  }


.featured-shop-links {
    background: $nude;
    padding: 125px 0;
    .grid-fixed {
        .text-wrapper {
            grid-column: 1 / 4;
            > *:not(:last-child) {
                margin-bottom: 15px;
            }
            @media (max-width: $mobile-bp) {
                grid-column: 1 / span 12;
                text-align: center;
            }
        }
        .product-list {
            grid-column: span 9;
            @media (max-width: $mobile-bp) {
                grid-column: 1 / span 12;
                margin-top: 30px;
            }
        //     > * {
        //         flex: 0 0 20%;
        //         &:not(:last-child) {
        //             padding-right: 10px; 
        //         }
        //     }
            .image-wrapper {
                border-radius: 0;
                img {
                    clip-path: circle(50%);
                }
            }
        }
    }
}

body.post-type-archive footer.site-footer {
    margin: 0 !important;
}

// slider

.slider {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 25px;
    grid-template-rows: auto;
    min-height: 100%;
    > * {
        grid-row: 1  / 2;
    }
    .slider-items {
        display: grid;
        @media (min-width: $mobile-bp) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: $mobile-bp) {
            grid-template-columns: repeat(3, 1fr);
        }
        grid-gap: 25px;
        > * {
            @media (min-width: $mobile-bp) {
                grid-column: span 1;
                &:nth-child(n+5) {
                    display: none;
                }
            }
            @media (max-width: $mobile-bp) {
                grid-column: span 1;
                &:nth-child(n+4) {
                    display: none;
                }
            }
            img {
                max-height: 180px;
            }
        }
    }
    .slider-items {
        grid-column: 1 / 9;
    }
    .slider-nav {
        grid-column: 9 / 10;
        place-self: center;
    }

    .featured-product {
        img {
            clip-path: circle(50%);
            height: auto;
        }
    }
    button:hover {
        .icon-arrow::after {
            background: $pink;
        }
    }
}