@use '../imports.scss' as *;
@use "sass:math";

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    color: $black;
    border-bottom: 1px solid $black;
    background-color: transparent;
    border-radius: 0;
    text-transform: uppercase;
    padding: 5px 0;

    &:hover,
    &:active {
        background-color: transparent;
        font-style: normal;
        border-color: $pink;
        color: $pink;
    }
}

.woocommerce-info::before,
.woocommerce-message::before {
    color: $black;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    background-color: $nude;
    color: $black;
    border: 0;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    width: unset;
}

.coupon {
    display: flex;
    flex-direction: column;

    >* {
        width: 100% !important;

        &:not(:last-child) {
            margin-bottom: 15px !important;
        }
    }
}

// checkout 
.woocommerce table.shop_table {
    border: 1px solid black;
    border-radius: 0;
    padding: 15px;

}

.woocommerce .woocommerce-cart-form table.shop_table {

    tbody {
        tr:nth-child(even) {
            background: $cream;
        }

    }
}

.woocommerce .woocommerce-cart-form table.shop_table tbody tr .actions {
    padding-top: 50px;

    button {
        border-radius: 30px;
        border: 1px solid $black;
        padding: 10px 15px;
        transition: .3s ease all;

        &:not(:disabled):hover {
            border-color: $pink;
            color: $pink;
        }
    }
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    border: 0;
    border-bottom: 1px solid black;

    &::placeholder {
        color: $black;
    }
}

.theme-wwr2021 .woocommerce a.remove {
    color: $black !important;
}

.theme-wwr2021 .woocommerce a.remove:hover {
    background: transparent !important;
    color: $pink !important;
}



.woocommerce table.cart td.actions .coupon {
    display: flex;

    >* {
        flex: 0 0 50%;
        float: none;
    }

    button {
        border-radius: 30px;
        border: 1px solid $black;
        padding: 10px 15px;
        transition: .3s ease all;

        &:hover {
            border-color: $pink;
            color: $pink;
        }
    }
}

// checkout 
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
    background: $nude;
}

body.woocommerce-checkout {
    .form-row {
        label {
            line-height: 22px;
        }

        align-items: flex-end;
        margin-bottom: 30px;

        &#billing_address_1_field {
            margin-bottom: 10px;
        }

        // > * {
        //     flex: unset;
        // }
        label {
            flex: unset;
        }

        >.woocommerce-input-wrapper {
            flex: 1;

            >* {
                font-size: 18px;
                line-height: 22px;
            }

            >input {
                border-bottom: 1px solid $black !important;
                background: transparent;
                padding: 0px 5px;

                &::placeholder {
                    color: $black;
                }
            }

            >textarea {
                border: 1px solid $black !important;
                background: transparent;
            }
        }

        &.notes {
            align-items: flex-start;
        }
    }

    // &.page article.page .entry-header, 
    // &.page article.page .entry-content {
    //     grid-column: 2 / span 10;
    // }

    form.woocommerce-checkout {
        .col2-set {
            display: flex;
            flex-direction: column;

            >* {
                margin-bottom: 50px;
            }

            .col-1,
            .col-2 {
                width: 100%;
                float: none;
            }
        }
    }
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
    line-height: 22px;
}